.topPageText {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topPage {
  background-repeat: no-repeat;
  background-size: 100%;
}

.bodycolor {

}

.menuOptions {
  align-content: flex-start;
  background-color: #F7BFCC;
}

.menuOptionsTwo {
  align-content: flex-start;
  background-color: #6DB1B1;
}

.cards {
  display: flex;
  flex-direction: row;
}

.pickPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pickPrice p {
  padding-right: 10px;
  font-size: 20px;
}

.PhotoBody {
  background-color: #F7BFCC;
  padding-left: 10%;
  padding-right: 10%;
}

.VideoBody {
  background-color: #6DB1B1;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
}

.footer {
  background-size: cover;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer1 {
  display: flex;
  flex-direction: row;
}

.footnote2 {
  display: flex;
  font-size: 13px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.footnote3 {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
